body{
  background: url('./FED-Intermediate-Assets/Banner.png') no-repeat ;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;
  background-size: cover;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav{
  
  height: 80px;
  width: 100%;
}

label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color:white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

a:hover{
  background: gray;
  transition: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}
#check{
  display: none;
}

@media (max-width:952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }

  @media(max-width: 852px){
    .checkbtn{
      display: block;
    }
    ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top:80px;
    left:-100%;
    text-align: center;
    background: black;
    transition: all .5s;
    }
    nav ul li{
      display: block;
      margin:50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
      color: tan;
    }
    a:hover,a.active{
      background: none;
      color: tomato;
    }

    #check:checked ~ul{
      left: 0;
    }
    
  }
}

.container{
    margin: 70px;
    height:65vh;
    width: 50vh;
}
.sideText{
  margin: 70px;
  height:50vh;
  width: 40vh;
  font-size: 65px;
  font-weight: bolder;
  color: white;
}


#ico{
  background-color:white;
  height: 80px;
  width: 80px;
  float: right;
  border-radius: 44px 44px 0px 44px;
  margin-right:80px ;
  margin-top: -40px;
}

#ico img{
  height: 40px;
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;
}


.imgBtn :active{
  display: none;
}

.Icon1{
  float: right;
  height: 200px;
}

.mod{
   position: fixed; 
  /* top:0; */
  /* overflow: auto;  */
  height: 325px;
  width:300px;
  background-color: white;
  margin-left: 80%;
  margin-top: -24%;
  border-radius: 5px;
}

.mod-content{
  margin:5% ;
  padding: 5%;
  color: white;
  background-color: #7F8AC5;
  
}

.mod-body{
  padding: 5%;
  background-color: white;
}

.btn{
  margin-top: 20px;
  margin-left: 35px;
  border-radius: 30px;
}

.btn1{
  margin-top:-5px ;
}

.mod1{
  position: fixed; 
 /* top:0; */
 /* overflow: auto;  */
 height:450px;
 width:300px;
 background-color: white;
 margin-left: 80%;
 margin-top: -32.7%;
 border-radius: 5px;
}

.mod1-content{
 margin:5% ;
 padding: 5%;
 color: white;
 background-color: #7F8AC5;
 
}

.mod1-body{
 background-color: white;
 color: white;
}

.right-side{
  padding: 5%;
  color: black;
  margin-left: 40px;
  margin-right: 50px ;
  border-radius: 10px 10px 10px 0px;
  background-color: #ecf1fb;
}

#triangle1{
  background-color:#4c5aa1 ;
  height: 0;
  width: 0;
  margin-left: 270px;
  border: 10px solid transparent;
  border-bottom-color:white;
  border-left-color:white;
}

#triangle2{
  background-color: #ecf1fb;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color:white;
    border-right-color:white;
    margin-left: 40px;
    margin-top:20px;
}

#circle{
  position: relative;
  display: block;
  background-color: #4c5aa1;
  height: 0;
  width: 0;
  border: 15px solid transparent;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: -50px;
  
}

.mic{
  position: relative;
  margin-top: -2000px;
  margin-left: 250px;
}


.left-side{
  padding: 5%;
  margin-left: 50px;
  margin-right:10px ;
  border-radius: 10px 10px 0px 10px;
  background-color: #4c5aa1;
}



.spn{
  margin-left: 50px;
  display: inline;
  text-align: center;
  font-size: small;
}

#boxx6{
  height: 40px;
  width:100%;
  border-top: 1px solid lightgrey;
}

#boxx{
  height: 40px;
  width:100%;
  
}

